@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "./variables.less";

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.btn-success {
  background-color: @success-color;
  border-color: @success-color;
  &:hover {
    background-color: darken(@success-color, 15%);
    border-color: darken(@success-color, 15%);
  }
}

.navbar-default {
  background-color: @navbar-color;
  color: @navbar-items-color;
  height: 70px;
  margin: 0px;
}

.navbar-header {
  .navbar-toggle {
    margin-top: 15px;
  }
}

.navbar-right {
  li {
    a {
      margin: 0px 0px;
      padding: 25px 25px 24px 25px;
      cursor: pointer;
    }
    button {
      margin: 18px 25px;
    }
    .dropdown-menu {
      width: 200px;
      padding: 0px;
      text-align: center;
      border-style: none;
      box-shadow: 0px 0px 0px @btn-shadow-color;
      left: -50px;
      background-color: @dropdown-item-bg-color;
      border-bottom-left-radius: @dropdown-border-radius;
      border-bottom-right-radius: @dropdown-border-radius;
      li {
        a {
          color: @navbar-items-color;
          padding: 15px 0px;
          margin: 0px;
          border-top: 1px solid #d5d5d5;
          &:hover {
            background-color: @dropdown-item-bg-color-hover;
          }
        }
        &:last-child {
          a {
            &:hover {
              border-bottom-left-radius: @dropdown-border-radius;
              border-bottom-right-radius: @dropdown-border-radius;
            }
          }
        }
      }

    }
  }
}

.navbar-btn {
  width: 110px;
  box-shadow: 1px 1px 5px @btn-shadow-color;
}

.banner {
  min-height: 600px;
  background-image: url('../../../img/img-banner-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .banner-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: @head-text-color;
    font-weight: 100;
    font-size: 50px;
    line-height: 55px;
  }
  .banner-input-wrapper {
    // margin: 0px 30px;
    height: 65px;
    background-color: fade(@head-input-bg-color, @head-input-bg-fade);
    color: @head-input-color;
    font-size: 20px;
    .banner-input-icon {
      position: absolute;
      margin-left: 22.5px;
      margin-top: 22.5px;
    }
    .banner-input {
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: 2px solid @head-input-color;
      padding: 0px 70px;
      &::-webkit-input-placeholder {
        color: fade(@head-input-color, 80%);
      }
      &:-moz-placeholder {
        color: fade(@head-input-color, 80%);
      }
      &::-moz-placeholder {
        color: fade(@head-input-color, 80%);
      }
      &:-ms-input-placeholder {
        color: fade(@head-input-color, 80%);
      }
    }
    .banner-input-send {
      font-weight: 100;
      position: absolute;
      right: 15px;
      padding: 22.5px;
      cursor: pointer;
      &:hover {
        color: darken(@head-input-color, 15%);
      }
    }
  }
}
