@icon-font-path:          "../../../bower_components/bootstrap/fonts/";

@success-color:                 #4fc97d;
@btn-shadow-color:              #bbbbbb;

@navbar-items-color:            #646464;
@navbar-color:                  #ffffff;
@dropdown-item-bg-color:        #f5f5f5;
@dropdown-item-bg-color-hover:  #ffffff;
@dropdown-border-radius:        10px;

@head-text-color:               #ffffff;
@head-input-color:              #ffffff;
@head-input-bg-color:           #ffffff;
@head-input-bg-fade:            10%;
@head-input-margin:             70px;

@head-text-start-color:         #b9e7fb;
@head-text-start-link-color:    #ffffff;

@pod-text-gray-bg-color:        #464646;
@pod-text-orange-bg-color:      #f55e50;
@pod-text-color:                #ffffff;
@pod-text-btn-white-bg-color:   #ffffff;

@icons-text-color:              #333333;
@icons-separator-color:         #d4d4d4;

@carousel-indicator-bg-color:   #000000;
@carousel-indicator-fade:       5%;
@carousel-indicator-fade-hover: 50%;
@carousel-item-title-color:     #454545;
@carousel-item-content-color:   #8f8f8f;

@partners-bg-color:             #f6f6f6;
@partners-title-color:          #a6a6a6;

@plan-head-color:               #ffffff;
@plan-green-bg-color:           #4fc97d;
@plan-gray-bg-color:            #aaaaaa;
@plan-gray-text-color:          #a1a1a1;

@switch-bg-color:               #9e9e9e;
@switch-path-green-bg-color:    #4fc97d;
@switch-ball-green-bg-color:    #49aa6d;
@switch-path-pink-bg-color:     rgba(255,64,129,0.5);
@switch-ball-pink-bg-color:     rgb(255,64,129);
@switch-path-blue-bg-color:     #80ccee;
@switch-ball-blue-bg-color:     #1b5a77;

@social-color:                  #ffffff;
@social-header-bg-color:        #2794c5;
@social-body-bg-color:          #2ea8df;
